// version 3

/*
/////////////////////////////////////////////
// moved this into the nf script
process {

	withName: GATK4_HAPLOTYPECALLER {
	ext.args = '-ploidy ${params.ploidy} --do-not-run-physical-phasing true --disable-read-filter WellformedReadFilter'

 	// recompiled ngmlr from source
	container = 'procho/ont-pipe:ngmlrOverflowFixSamtoolsCmdLine'  
}
//////////////////////////////////////////////
*/


docker {
       enabled = true
       //container = "name"
       
       
}